@import 'material-symbols/rounded.css';

mat-icon.material-symbols-rounded {
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-size: 1em;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  line-height: 1;
}
